.header {
    position: relative;
    background: #F0F1F6;
    min-height: 950px;
    &__towel {
        position: absolute;
        bottom: 0;
        right: 0;
    }
    &__freshener {
        position: absolute;
        bottom: 0;
        right: 410px;
    }
    .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    }
    &__img {
        margin-top: 113px;
    }
    &__contact {
        display: flex; 
        flex-direction: column;
        align-items: flex-end;
    }
    a.header__phone {
        text-decoration: none;
    }
    &__phone {
        display: block;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 25px;
        line-height: 34px;
        letter-spacing: 0.2px;
        color: $main-color;
    }

    .button__phone {
        width: 186px;
        height: 41px;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 20px;
        letter-spacing: 0.46px;
        color: #F0F1F6;
        border: none;
    }
    .button__icon {
        display: inline-block;
        vertical-align: middle;
        padding-top: 2px;
    }
    h1 {
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 700;
        font-size: 48.5218px;
        line-height: 55px;
        letter-spacing: 1.04574px;
        text-transform: uppercase;
        color: $main-color;
        width: 700px;
        height: 153px;
        margin-top: 98px;
        margin-bottom: 31px;
    }
    &__items {
        margin-top: 65px;
        display: grid;
        width: 630px;
        grid-template-columns: repeat(2, 306px);
        column-gap: 38px;
        &-column {
            display: grid;
            grid-template-columns: 46px 241px;
            grid-template-rows: repeat(3, 34px);
            row-gap: 32px;
            column-gap: 19px;
        }
    }
    &__item-text {
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
        line-height: 17px;
        letter-spacing: 0.952475px;
        text-transform: uppercase;
        color: $main-color;
    }
}

@media(max-width: 1535px) {
    .header {
        &__towel {
            width: 760px;
        }
        &__freshener {
            right: 345px;
        }
    }
}

@media(max-width: 1440px) {
    .header {
        height: 1425px;
        &__freshener {
            right: 580px;
        }
    }
}

@media(max-width: 1024px) {
    .header {
        &__towel {
            width: 720px;
        }
        &__freshener {
            width: 435px;
            right: 349px;
        }
        &__items {
            margin: 50px auto;
        } 
    }
    h1 {
        margin: 0 auto;
    }
    .button__header-catalog {
        margin-left: 20px;
    }
}

@media(max-width: 768px) {
    
}

@media(max-width: 576px) {
    .header {
        height: 915px;
        &__towel {
            width: 370px;
        }
        &__freshener {
            width: 230px;
            right: 182px;
        }
        .wrapper {
            align-items: flex-start;
        }
        &__img {
            width: 135px;
            height: 25.22px;
            margin-top: 40px;
        }
        &__phone {  
            margin-top: 30px;
            font-size: 16px;
            letter-spacing: 0.131765px;
        }
        .button__phone {
            width: 122.54px;
            height: 27.01px;
            font-size: 9.88235px;
            letter-spacing: 0.303059px;
            svg {
                width: 20px;
                height: 20px;
            }
        }
        h1 {
            font-size: 20px;
            line-height: 25px;
            letter-spacing: 0.573523px;
            width: 310px;
            height: 87px;
            margin-top: 30px;
            margin-bottom: 18px;
        }
        .button__header-catalog, .button__header-order {
            margin-left: 0;
            width: 133px;
            height: 40px;
            font-size: 11px;
            letter-spacing: 0.204171px;
        }
        .button__header-catalog {
            border: 1.7px solid $main-color;
            margin-left: 30px;
        }
        &__items {
            display: grid;
            width: 280px;
            grid-template-columns: 280px;
            &-column {
                display: grid;
                grid-template-columns: 46px 241px;
                grid-template-rows: repeat(3, 34px);
                row-gap: 32px;
                margin-bottom: 32px;
            }
        }
        &__item-text {
            font-size: 12.955px;
            line-height: 15px;
            letter-spacing: 0.822624px;
        }
    } 
}

@media(max-width: 375px) {
    .header {
        &__towel {
            width: 280px;
        }
        &__freshener {
            width: 179px;
            right: 151px;
        }
        .wrapper {
            align-items: flex-start;
        }
        &__img {
            width: 135px;
            height: 25.22px;
            margin-top: 40px;
        }
        &__phone {  
            margin-top: 30px;
            font-size: 16px;
            letter-spacing: 0.131765px;
        }
        .button__phone {
            width: 122.54px;
            height: 27.01px;
            font-size: 9.88235px;
            letter-spacing: 0.303059px;
            svg {
                width: 20px;
                height: 20px;
            }
        }
        h1 {
            font-size: 20px;
            line-height: 25px;
            letter-spacing: 0.573523px;
            width: 310px;
            height: 87px;
            margin-top: 30px;
            margin-bottom: 18px;
        }
        .button__header-catalog, .button__header-order {
            margin-left: 0;
            width: 133px;
            height: 40px;
            font-size: 11px;
            letter-spacing: 0.204171px;
        }
        .button__header-catalog {
            border: 1.7px solid $main-color;
            margin-right: 10px;
        }
        &__items {
            display: grid;
            width: 280px;
            grid-template-columns: 280px;
            &-column {
                display: grid;
                grid-template-columns: 46px 241px;
                grid-template-rows: repeat(3, 34px);
                row-gap: 32px;
                margin-bottom: 32px;
            }
        }
        &__item-text {
            font-size: 12.955px;
            line-height: 15px;
            letter-spacing: 0.822624px;
        }
    } 
}


