.content {
    min-height: 1156px;
    padding: 200px 0;
    &__wrapper {
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(3, 360px);
        grid-template-rows: repeat(2, 560px);
        column-gap: 32px;
        row-gap: 36px;
    }
    &__wrap {
        display: none;
        background: #E9E7E7;
    }
    &__image {
        margin: 30px 25px 0 28px;
    }
    &__title {
        margin-top: 12px;
        margin-left: 28px;
        font-family: 'Open Sans';
        font-weight: 700;
        font-size: 21.3357px;
        line-height: 29px;
        font-style: normal;
        text-transform: uppercase;
        letter-spacing: 0.147962px;
        color: $main-color;
    }
    &__text {
        font-family: 'Open Sans';
        font-weight: 600;
        font-size: 12.8014px;
        line-height: 17px;
        letter-spacing: 0.147962px;
        text-transform: uppercase;
        font-style: normal;
        color: #7A7A7A;
        margin: 5px 0 0 28px;
    }
    &__inner {
        display: flex;
        margin: 17px 0 0 28px;
    }
    &__price {
        font-family: 'Open Sans';
        font-weight: 700;
        font-size: 19.6288px;
        line-height: 27px;
        letter-spacing: 0.147962px;
        text-transform: uppercase;
        color: $main-color;
        font-style: normal;
    }
    .button__content {
        width: 141.79px;
        height: 42.24px;
        font-family: 'Open Sans';
        font-weight: 600;
        font-size: 14.0058px;
        line-height: 19px;
        text-align: center;
        letter-spacing: 0.266199px;
        color: #FFFFFF;
        font-style: normal;
        margin-left: 20px;
        &-modules {
            width: 293.51px;
            height: 44.03px;
            margin-top: 17.67px;
            font-family: 'Open Sans';
            font-weight: 400;
            font-size: 13.6973px;
            line-height: 19px;
            text-transform: uppercase;
            color: #FFFFFF;
            font-style: normal;
        }
    }
    &__tabs {
        display: none;
        width: 269px;
        justify-content: space-between;
        margin: 0 auto;
    }
    &__tab {
        width: 39px;
        background: #C4C4C4;
        border-radius: 2.6129px;
        transform: matrix(1, 0, 0, -1, 0, 0);
        height: 6px;
        &_active {
            background: $main-color;
        }
    }
    &__mod {
        position: fixed;
        display: none;
        top: 0;
        left: 0;
        justify-content: center;
        align-items:center;
        width: 100%;
        height: 100%;
        background: rgba(47, 43, 43, 0.75);
        z-index: 100;
    }
    &__modules {
        display: block;
        flex-direction: column;
        width: 294px;
        background: #FFFFFF;
        box-shadow: 0px 10.9975px 10.081px rgba(0, 0, 0, 0.3);
        height: 279.82px;
        padding: 16px 34px 21px 34px;
        &-title {
            font-family: 'Open Sans';
            font-weight: 700;
            font-size: 19px;
            line-height: 26px;
            color: $main-color;
            font-style: normal;
        }
        &-subtitle {
            font-family: 'Open Sans';
            font-weight: 600;
            font-size: 15px;
            line-height: 20px;
            color: #212121;
            font-style: normal;
            margin-top: 6px;
        }
        &-text {
            font-family: 'Open Sans';
            font-weight: 600;
            font-size: 11px;
            line-height: 15px;
            color: #212121;
            font-style: normal;
            margin-top: 15px;
        }
        &-input {
            font-family: 'Roboto';
            font-weight: 300;
            font-size: 17.6108px;
            line-height: 21px;
            display: flex;
            align-items: center;
            color: #757575;
            font-style: normal;
            width: 267.51px;
            height: 26.03px;
            border: 0.978378px solid #000000;
            padding: 9px 12px;
        }
        &-policy {
            display: flex;
            flex-direction: row;
            text-align: center;
            font-family: 'Open Sans';
            font-weight: 400;
            font-size: 10.7622px;
            line-height: 15px;
            color: #000000;
            font-style: normal;
            margin-top: 10px;
            a {
                color: #A65E34;
            }
        }
        input[type=checkbox] {
            box-sizing: border-box;
            width: 30px;
            border-radius: 25%;
            margin-left: 20px;
            background-color: #A65E34;
            border-color: #A65E34;
        }
    }
    
}

@media(max-width: 1535px) {

}

@media(max-width: 1440px) {
    .content {
        padding: 180px 0;
        &__wrapper {
            grid-template-columns: repeat(2, 360px);
            grid-template-rows: repeat(3, 560px);
        }
}
}

@media(max-width: 1024px) {
    .content {
        padding: 150px 0;
        &__wrapper {
            column-gap: 25px;
            row-gap: 28px;
        }
}
}

@media(max-width: 768px) {
    .content {
        padding: 100px 0;
        &__wrapper {
            grid-template-columns: 360px;
            grid-template-rows: repeat(6, 560px);
        }
        &__tabs {
            display: flex;
        }
        &__modules {
            display: flex;
        }
    }
            
}

@media(max-width: 576px) {

    } 

@media(max-width: 375px) {
  
    } 

