.orderLogo {
    min-height: 500px;
    background-image: linear-gradient(90.24deg, #F0F1F6 40.32%, rgba(217, 217, 217, 0) 106.67%), url(/img/orderLogo/backround.png);
    background-position: top right;
    background-repeat: no-repeat;
    background-blend-mode: normal;
    padding-top: 84px;
    padding-left: 387px;
    &__title {
        width: 755px;
        height: 210px;
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 700;
        font-size: 48.5218px;
        line-height: 55px;
        letter-spacing: 1.04574px;
        text-transform: uppercase;
        color: $main-color;  
    }
    &__text {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 25px;
        text-align: left;
        letter-spacing: 0.546644px;
        color: #A2A2A2;
        margin-top: 10px;
    }
    &__form {
        display: flex;
        flex-direction: row;
        &-input {
            width: 231px;
            height: 40px;
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 600;
            font-size: 28.7611px;
            line-height: 39px;
            text-align: center;
            letter-spacing: 0.546644px;
            color: #A2A2A2;
            padding: 24px 110px 24px 21px;
            border: none;

        }
    }
    .button__orderLogo {
        margin-left: 30px;
        width: 362px;
        height: 87px;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 28.7611px;
        line-height: 39px;
        text-align: center;
        letter-spacing: 0.546644px;
        color: #FFFFFF;
        border: none;
    }
    .arrow-1 {
        position: relative;
        width: 80px;
        height: 50px;
    }
    .arrow-1 div {
        position: relative;
        top: 43px;
        width: 80px;
        height: 3px;
        background-color: $main-color;
        display: block;
        border-radius: 1px;
    }
    .arrow-1 div::after {
        content: '';
        position: absolute;
        width: 20px;
        height: 3px;
        top: -7px;
        right: -2px;
        background-color: $main-color;
        transform: rotate(45deg);
        border-radius: 1px;
    }
    .arrow-1 div::before {
        content: '';
        position: absolute;
        width: 20px;
        height: 3px;
        top: 7px;
        right: -2px;
        background-color: $main-color;
        border-radius: 1px;
        transform: rotate(-45deg);
    }
    .arrow-1:hover {
        animation: arrow-1 1s linear infinite;
    }
}  


    @media(max-width: 1535px) {

    }
    
    @media(max-width: 1440px) {
        .orderLogo {
            padding-left: 341px;    
        }
        .arrow-1 {
            display: none;
    }
    }
    
    @media(max-width: 1024px) {
        .orderLogo {
            padding-left: 50px;    
        }
        .arrow-1 {
            display: none;
    }
    }
    
    @media(max-width: 768px) {
        .orderLogo {
            min-height: 264px;
            padding: 29px 32px 32px 35px;
            &__title {
                margin: 0 auto;
                width: 358px;
                height: 78px;
                font-size: 22px;
                line-height: 26px;
                letter-spacing: 0.46563px;
            }
            &__text {
                display: none;
            }
            &__form {
                display: flex;
                flex-direction: column;
                align-items: center;
                &-input {
                    margin-top: 18px;
                    padding: 10px 0 9px 9px;
                    width: 343px;
                    height: 26px;
                    font-size: 18.8823px;
                    line-height: 26px;
                    letter-spacing: 0.358884px;     
                }
            }
            .button__orderLogo {
                margin-top: 17px;
                width: 361px;
                height: 45px;
                font-size: 16px;
                line-height: 22px;
                text-align: center;
                letter-spacing: 0.218437px;
                margin-left: 0;
            }
        }
    }
    
    @media(max-width: 576px) {
    
        } 
    
    @media(max-width: 375px) {
    .orderLogo {
        padding: 5px;
    }
        } 
    
    
